@using TransferLayer.Models

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Cart</h2>

@{
    if (Session["Cart"] != null)
    {
        using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
        {
            <table class="shopping-cart table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in (List<CartDto>)Session["Cart"])
                    {
                        <tr>
                            <td>@cart.Book.Title</td>
                            <td>@cart.Book.Price</td>
                            <td>
                                <input type="text" name="quantity" id="quantity" value="@cart.Quantity" />
                                &nbsp;<span id="errmsg" style="color: red"></span>
                            </td>
                            <td>@(String.Format("{0:N0}", cart.Book.Price * cart.Quantity))</td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = cart.Book.Id },
                                         new { onclick = "return confirm('Are you sure you want to delete this&');", @class = "delete-shopping" })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">Total: </td>
                        <td>
                            @{
                                List<CartDto> temp = (List<CartDto>)Session["Cart"];
                                var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Book.Price));
                            }

                            @total грн.
                        </td>
                    </tr>
                </tbody>
            </table>

            @Html.ActionLink("Continue Shopping", "Index", "Books", null, new { @class = "continue-shopping" });
            <input type="submit" value="Update Cart" class="update-shopping" />
            @Html.ActionLink("CheckOut", "CheckOut", "ShoppingCart", null, new { @class = "continue-shopping" });

        }

    }
    else
    {
        <h4>No items in you cart!!!</h4>
    }


}
<br />

<br />




<script type="text/javascript">
    $(document).ready(function () {
        $("#quantity").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Enter digits only!").show().fadeOut("slow");
                return false;
            }

        });
    });
</script>
<link href="~/Content/shopping-cart.css" rel="stylesheet" />